.drawer {
    height: 100%;
    background: linear-gradient(10deg, #3a1c71, #d76d77, #ffaf7b );
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    z-index: 200;
    max-width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
}

.drawer > a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin: 15px;
    letter-spacing: 2px;
}

/* .drawer > div{
    margin: 10px;
    width: 100%;
    height: 30px;
} */

/* .drawer > div > button {
    background: white;
    display: flex;
    margin: 0 auto;
    width: 40%;
    height: 30px;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
} */

.drawer.open {
    transform: translateX(0)
}

/**** CTA side drawer ****/
.CTA-sidedrawer {
    margin-top: 50px;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
} 

.CTA-sidedrawer > h1 {
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}
.CTA-sidedrawer-button {
    background: linear-gradient(140deg, #004e92,#5b86e5, #36d1dc);
    border: none;
    width: 80%;
    height: 70px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 900px){
    .drawer {
        display: none;
    }
}

/**** Mobile sidedrawer ****/
@media screen and (max-width: 450px){
    .CTA-sidedrawer {
        height: 150px;
    }
    .CTA-sidedrawer >h1 {
        font-size: 22px;
        width: 90%;
    }

    .CTA-sidedrawer-button {
        font-size: 22px;
        height: 60px;
    }
}
